#top {
    color: black;
    background-color: gold;
    display: inline;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

#image {
    text-align: right;
}


#image img {
    width: 400px;
}



a {
    color: rgb(80, 80, 80);
    padding-left: 20px;
}



#navigation {
    background-color: rgba(0, 0, 0, 0.438);
    color: white;
    float: left;
    margin: 0;
    padding-right: 1300;
    list-style: none;
}
 
nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    position: relative;
}

nav ul li a {
    color: white
}

nav ul li.aktiv a {
    color: black
}

nav a::before {
    content: "";
    display: block;
    height: 5px;
    width: 0%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: -10px;
    transition: all ease-in-out 250;
}

nav a:hover::before {
    width: 100%;
}

#hintergrund {
    background-color: rgba(255, 255, 255, 0.603);
    background-repeat: no-repeat;
}

body.ps5 {
    background-image: url(Ps5.jpeg);
}

body.xss  {
    background-image: url(images2.webp);
}
